<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CustomizacaoMoradias.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CustomizacaoMoradias.Properties.Settings>
            <setting name="FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseLevelName" serializeAs="String">
                <value />
            </setting>
            <setting name="TopLevelName" serializeAs="String">
                <value />
            </setting>
            <setting name="WallTypeName" serializeAs="String">
                <value>paredeBranca15cm</value>
            </setting>
            <setting name="J1" serializeAs="String">
                <value>janelaVeneziana150cm</value>
            </setting>
            <setting name="J2" serializeAs="String">
                <value>janelaCorrerVidro150cm</value>
            </setting>
            <setting name="J3" serializeAs="String">
                <value>bandeira60x40</value>
            </setting>
            <setting name="J4" serializeAs="String">
                <value>janelaVeneziana200cm</value>
            </setting>
            <setting name="J5" serializeAs="String">
                <value>janelaCorrerVidro200cm</value>
            </setting>
            <setting name="P1" serializeAs="String">
                <value>portaDeAbrirMadeira80cm</value>
            </setting>
            <setting name="P2" serializeAs="String">
                <value>portaDeAbrirMetalVidro90cm</value>
            </setting>
            <setting name="P3" serializeAs="String">
                <value>portaCorrerMetalVidro160cm</value>
            </setting>
            <setting name="P4" serializeAs="String">
                <value />
            </setting>
            <setting name="H1" serializeAs="String">
                <value>chuveiro</value>
            </setting>
            <setting name="H2" serializeAs="String">
                <value>caixaAcoplada</value>
            </setting>
            <setting name="H3" serializeAs="String">
                <value>lavatorioColuna</value>
            </setting>
            <setting name="H4" serializeAs="String">
                <value>pia150cm</value>
            </setting>
            <setting name="H5" serializeAs="String">
                <value>pia200cm</value>
            </setting>
            <setting name="H6" serializeAs="String">
                <value>maquinaLavar</value>
            </setting>
            <setting name="H7" serializeAs="String">
                <value>tanqueLavarRoupa</value>
            </setting>
            <setting name="M1" serializeAs="String">
                <value>sofa3Lugares</value>
            </setting>
            <setting name="M2" serializeAs="String">
                <value>rackComTV</value>
            </setting>
            <setting name="M3" serializeAs="String">
                <value>poltrona</value>
            </setting>
            <setting name="M4" serializeAs="String">
                <value>mesaLateral</value>
            </setting>
            <setting name="M5" serializeAs="String">
                <value>mesaJantar</value>
            </setting>
            <setting name="M6" serializeAs="String">
                <value>buffet</value>
            </setting>
            <setting name="M7" serializeAs="String">
                <value>pia150cm</value>
            </setting>
            <setting name="M8" serializeAs="String">
                <value>geladeira</value>
            </setting>
            <setting name="M9" serializeAs="String">
                <value>fogao4Bocas</value>
            </setting>
            <setting name="M10" serializeAs="String">
                <value>armarioCozinhaBaixo60cm</value>
            </setting>
            <setting name="M11" serializeAs="String">
                <value>tanqueLavarRoupa</value>
            </setting>
            <setting name="M12" serializeAs="String">
                <value>maquinaLavar</value>
            </setting>
            <setting name="M13" serializeAs="String">
                <value>camaCasal</value>
            </setting>
            <setting name="M14" serializeAs="String">
                <value>guardaRoupa4Modulos</value>
            </setting>
            <setting name="M15" serializeAs="String">
                <value>camaSolteiro</value>
            </setting>
            <setting name="M16" serializeAs="String">
                <value>mesaCabeceira</value>
            </setting>
            <setting name="M17" serializeAs="String">
                <value>guardaRoupa2Modulos</value>
            </setting>
            <setting name="M18" serializeAs="String">
                <value>mesaDeEstudo</value>
            </setting>
            <setting name="M19" serializeAs="String">
                <value>mesaDeCentro</value>
            </setting>
            <setting name="M20" serializeAs="String">
                <value>armarioCozinhaBaixo120cm</value>
            </setting>
            <setting name="M21" serializeAs="String">
                <value>mesaJantar6</value>
            </setting>
            <setting name="FloorName" serializeAs="String">
                <value>piso10cmCeramico40x40</value>
            </setting>
            <setting name="CeilingName" serializeAs="String">
                <value>laje10cmBranca</value>
            </setting>
            <setting name="M22" serializeAs="String">
                <value>armarioCozinhaAlto120cm</value>
            </setting>
            <setting name="M23" serializeAs="String">
                <value>armarioCozinhaAlto60cm</value>
            </setting>
        </CustomizacaoMoradias.Properties.Settings>
    </userSettings>
</configuration>