<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CustomizacaoMoradias.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CustomizacaoMoradias.Properties.Settings.PropertiesDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PropertiesDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <CustomizacaoMoradias.Properties.Settings>
            <setting name="FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseLevelName" serializeAs="String">
                <value />
            </setting>
            <setting name="TopLevelName" serializeAs="String">
                <value />
            </setting>
            <setting name="WallTypeName" serializeAs="String">
                <value>paredeBranca15cm</value>
            </setting>
            <setting name="FloorName" serializeAs="String">
                <value>piso10cmCeramico40x40</value>
            </setting>
            <setting name="CeilingName" serializeAs="String">
                <value>laje10cmBranca</value>
            </setting>
        </CustomizacaoMoradias.Properties.Settings>
    </userSettings>
</configuration>