<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CustomizacaoMoradias.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CustomizacaoMoradias.Properties.Settings>
            <setting name="FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseLevelName" serializeAs="String">
                <value />
            </setting>
            <setting name="TopLevelName" serializeAs="String">
                <value />
            </setting>
            <setting name="WallTypeName" serializeAs="String">
                <value>parede 15 cm - branca</value>
            </setting>
            <setting name="J1" serializeAs="String">
                <value>janela veneziana 1,50x1,0 - metal e vidro</value>
            </setting>
            <setting name="J2" serializeAs="String">
                <value>janela correr 1,50x1,0 - metal e vidro</value>
            </setting>
            <setting name="J3" serializeAs="String">
                <value>bandeira 0,60 x 0,40</value>
            </setting>
            <setting name="J4" serializeAs="String">
                <value />
            </setting>
            <setting name="J5" serializeAs="String">
                <value />
            </setting>
            <setting name="P1" serializeAs="String">
                <value>porta de abri 0.80x2.10 - madeira</value>
            </setting>
            <setting name="P2" serializeAs="String">
                <value>porta de abrur 0.80x2.10 - metal e vidro</value>
            </setting>
            <setting name="P3" serializeAs="String">
                <value>porta correr 1.60x2.10 - metal e vidro</value>
            </setting>
            <setting name="P4" serializeAs="String">
                <value />
            </setting>
            <setting name="H1" serializeAs="String">
                <value>chuveiro</value>
            </setting>
            <setting name="H2" serializeAs="String">
                <value>Caixa Acoplada</value>
            </setting>
            <setting name="H3" serializeAs="String">
                <value>Grande Com Coluna</value>
            </setting>
            <setting name="H4" serializeAs="String">
                <value />
            </setting>
            <setting name="H5" serializeAs="String">
                <value />
            </setting>
            <setting name="H6" serializeAs="String">
                <value />
            </setting>
            <setting name="H7" serializeAs="String">
                <value />
            </setting>
            <setting name="M1" serializeAs="String">
                <value>Sofa_3 lugares</value>
            </setting>
            <setting name="M2" serializeAs="String">
                <value>RACK COM TV</value>
            </setting>
            <setting name="M3" serializeAs="String">
                <value>Poltrona-V1</value>
            </setting>
            <setting name="M4" serializeAs="String">
                <value>mesa lateral</value>
            </setting>
            <setting name="M5" serializeAs="String">
                <value>mesa jantar</value>
            </setting>
            <setting name="M6" serializeAs="String">
                <value>buffet</value>
            </setting>
            <setting name="M7" serializeAs="String">
                <value>pia cozinha - granilite 60cm</value>
            </setting>
            <setting name="M8" serializeAs="String">
                <value>geladeira</value>
            </setting>
            <setting name="M9" serializeAs="String">
                <value>fogao 4 bocas</value>
            </setting>
            <setting name="M10" serializeAs="String">
                <value>armario cozinha baixo</value>
            </setting>
            <setting name="M11" serializeAs="String">
                <value>Tanque - 1</value>
            </setting>
            <setting name="M12" serializeAs="String">
                <value>maquina lavar</value>
            </setting>
            <setting name="M13" serializeAs="String">
                <value>cama casal</value>
            </setting>
            <setting name="M14" serializeAs="String">
                <value>guarda roupa - 4 modulos</value>
            </setting>
            <setting name="M15" serializeAs="String">
                <value>cama solteiro</value>
            </setting>
            <setting name="M16" serializeAs="String">
                <value>mesa cabeceira</value>
            </setting>
            <setting name="M17" serializeAs="String">
                <value>guarda roupa - 2 modulos</value>
            </setting>
            <setting name="M18" serializeAs="String">
                <value>mesa de estudo</value>
            </setting>
            <setting name="M19" serializeAs="String">
                <value />
            </setting>
            <setting name="M20" serializeAs="String">
                <value />
            </setting>
            <setting name="M21" serializeAs="String">
                <value />
            </setting>
            <setting name="FloorName" serializeAs="String">
                <value>piso 10 cm - ceramico 40x40</value>
            </setting>
            <setting name="CeilingName" serializeAs="String">
                <value>laje 10 cm - branca</value>
            </setting>
        </CustomizacaoMoradias.Properties.Settings>
    </userSettings>
</configuration>